*,
*::before,
*::after {
box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

main {
    flex-grow: 1;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%; 
    height: auto;
}

input, textarea {
    font-family: inherit;
    font-size: inherit;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.overlay-for-orderform {
    width: 100%; 
    height: 100%; 
    background-image: to bottom, rgba(46, 47, 66, 0.40), rgba(46, 47, 66, 0.40);
}

/* boxes for header */

.top-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 1px 6px rgba(46, 47, 66, 0.08);
    margin: 0 auto;
}

.top-header .container {
    display: flex;
    margin: 0 auto;
    padding: 0 15px;
}

.top-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo-and-menu {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    gap: 40px;
    position: relative;
    margin-right: 120px;
}

.text-in-menu {
    color: #2e2f42;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item {
    position: relative;
}

.menu-item:first-child .text-in-menu {
    color: #404bbf;
}

.menu-item:first-child .text-in-menu::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.menu-item:first-child .text-in-menu::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
}

.contact {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.contact-item {
    width: calc((100% - 40px) / 2);
    white-space: nowrap;
}

.menu-pie {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.logo-general-settings {
    color: #4d5ae5;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 76px;
}

.logo-second-part{
    color: #2E2F42;
    font-family: "Raleway", sans-serif;
}
.logo-second-part-footer {
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
}

/* menu-text */

.adress-fixing{
    font-style: normal;
    display: flex;
}
.text-for-contact {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-for-contact:hover,
.text-for-contact:focus {
    color: #404BBF;
}

.text-in-menu:hover,
.text-in-menu:focus {
    color: #404BBF;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.text-in-menu:active{
    color: #404BBF;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: underline;
}

@media (min-width: 320px) and (max-width: 767px) {

    .container {
        max-width: 320px;
    }

    .logo-and-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 16px 0;
    }

    .menu {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .contact {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .menu-pie {
        fill: #2F2F37;
        position: absolute;
        right: 16px;
        top: 16px;
        border: 0;
        padding: 0;
        background-color: transparent;
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }
}

@media (min-width: 768px) and (max-width: 1157px) {
    .contact {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .text-for-contact {
        font-size: 12px;
    }

}   

/* boxes for the first section */

.style-first-section {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 320px;
    max-width: 1440px;
    background-position: center;
    margin: 0 auto;
    padding: 188px 0;
}

@media (min-width:1158px) {
    .style-first-section {
    background-image: linear-gradient(
        to bottom, 
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)), 
        url(../images/desk_back.jpg);
    }
}

@media (min-width:1158px) and (min-resolution: 192dpi) {
    .style-first-section {
    background-image: linear-gradient(
        to bottom, 
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)), 
        url(../images/desk_back_2x.jpg);
    }
}

@media (min-width:768px) and (max-width:1157px) {
    .style-first-section {
    background-image: linear-gradient(
        to bottom, 
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)), 
        url(../images/tablet_back.jpg);
    }
}

@media (min-width:768px) and (max-width:1157px) and (min-resolution: 192dpi) {
    .style-first-section {
    background-image: linear-gradient(
        to bottom, 
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)), 
        url(../images/tablet_back_2x.jpg);
    }
}

@media (max-width: 767px) {
    .style-first-section {
    background-image: linear-gradient(
        to bottom, 
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)), 
        url(../images/mobile_back.jpg);
    }
}

@media (max-width: 767px) and (min-resolution: 192dpi) {
    .style-first-section {
    background-image: linear-gradient(
        to bottom, 
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)), 
        url(.../images/mobile_back2x.jpg);
    }
}

.style-first-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.style-first-section .container {
    position: relative;
}

.title-header {
    color: white;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 48px;
    max-width: 496px;
}

@media (min-width: 320px) and (max-width: 767px) {
    

    .title-header {
        color: white;
        font-size: 36px;
        line-height: 1.11;
        max-width: 288px;
    }

    .style-first-section {
        padding: 72px 0;
    }
}

@media (min-width: 768px) and (max-width: 1157px) {
    .style-first-section {
        padding: 112px 0;
    }

    .container {
        max-width: 768px;
    }
}


@media (min-resolution: 192dpi) {

    .style-first-section {
    background-image: linear-gradient(
        to bottom, 
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)), 
        url(../images/first_section_back_mobile2x.jpg);
    }
}

/* boxes for the second section list of values */

.second-section {
    padding: 120px 0;
}

.list-of-values {
    display: flex;
    gap: 24px;
}

.values-item { 
    gap: 8px; 
    width: calc((100% - 72px) / 4);
}

.box-icon-values {
    display: flex;
    align-items: center ;
    justify-content: center;
    background: #F4F4FD; 
    border-radius: 4px; 
    border: 1px #8E8F99 solid;
    margin-bottom: 8px;
    height: 112px;
}

@media (min-width: 320px) and (max-width: 767px) {

    .section {
        padding: 96px 0;
    }

    .container {
        max-width: 320px;
    }

    .list-of-values {
        flex-direction: column;
        gap: 72px;
        align-items: center;
    }

    .values-item {
        width: auto;
    }

    .box-icon-values {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .values-item .header-in-section {
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
    } 
}

@media (min-width: 768px) and (max-width: 1157px) {

    .list-of-values {
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
    }

    .box-icon-values {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .values-item {
        min-width: 356px;
    }

    .values-item .header-in-section {
        
            color: #2e2f42;
            font-size: 36px;
            font-weight: 700;
            line-height: 1.11;
            letter-spacing: 0.02em;
            margin-bottom: 8px;
        
    }
}

/* boxes for the third section our team */

.background-third-section {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.style-third-section-title {
    margin-bottom: 72px;
}

.team-members-list {
    display: flex;
    gap: 24px;
}

.team-member-item {
    background-color: white;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team-member-description {
    padding: 32px 0;
}

.team-member-description .description-for-team {
    margin-bottom: 8px;
}

.team-member-socials {
    display: flex;
    justify-content: center;
    gap: 24px;

}

.team-socails-back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.team-socials-icon {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-member-item .team-socials-icon {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-member-item:hover .team-socials-icon,
.team-member-item:focus .team-socials-icon {
    background-color: #404bbf;
}

.team-socials-icon:hover,
.team-socials-icon:focus {
    background-color: #404bbf;
}

.icon-media {
    fill: #f4f4fd;
}

.team-member-description .header-in-section {
    text-align: center;
    margin-bottom: 8px;
}

.team-member-description .description-for-team {
    text-align: center;
}

@media (min-width: 320px) and (max-width: 767px) {

    .team-members-list {
        display: flex;
        flex-direction: column;
        gap: 72px;
        align-items: center;
    }

    .team-member-item {
        width: 264px;
    }
}

@media (min-width: 768px) and (max-width: 1157px) {

    .box-third-section {
        width: 584px;
    }

    .team-members-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 64px;
    }

    .team-member-item {
        width: calc((100% - 24px) / 2);
    }
}

/* boxes for the fourth section */

.fourth-section {
    padding: 120px 0;
}

.box-fourth-section {
    gap: 72px;
}

.box-fourth-section .section-title {
    margin-bottom: 72px;
}

.portfolio-cards-list {
    display: flex;
    row-gap: 48px;
    column-gap: 24px;
    flex-wrap: wrap;
    
}

.card-list-item {
    display: flex;
    flex-direction: column; 
    background: white;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-list-image-box {
    position: relative;
    overflow: hidden;
}

.card-list-image-overlay {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-list-item:hover .card-list-image-overlay {
    transform: translatey(0);
}

.card-text {
    border: 1px #E7E9FC solid;
    border-top: none;
    padding: 32px 16px; 
}

@media (min-width: 320px) and (max-width: 767px) {

    .fourth-section {
        padding: 120px 0;
    }

    .portfolio-cards-list {
        display: flex;
        flex-direction: column;
        gap: 48px;
        align-items: center;
    }

    .card-list-item {
        overflow: hidden;
        width: 288px;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08);
    }
}

@media (min-width: 768px) and (max-width: 1157px) {
    .portfolio-cards-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
        align-items: center;
    }

    .card-list-item {
        overflow: hidden;
        width: 356px;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08);
    }
}

/* boxes for footer */

.footer-ordering {
    display: flex;
    align-items: baseline;
}

.footer-first-box {
    display: block;
    margin-right: 120px;
}

.footer-social-media {
    margin-right: 80px;
}

.footer-social-media-sign {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-social-media-line {
    display: flex;
    gap: 16px;
}

.footer-icons-style {
    width: 40px;
    height: 40px;
}

.footer-icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-color {
    fill:#f4f4fd;
}

.footer-icon-link:hover, 
.footer-icon-link:focus {
    background-color: #31d0aa;
}

.bottom-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-subscribe-section {
    display: block;
}

.footer-subscribe-sign {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.form-bottom {
    display: flex;
    gap: 24px;
}

.email-field-footer {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email-field-footer::placeholder {
    color: #ffffff;
}

.email-field-footer:focus {
    border-color: #4D5AE5;
}

.button-subscribe-footer {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.icon-subscribe-footer {
    margin-left: 16px;
    fill: white;

}

@media (min-width: 320px) and (max-width: 767px) {
    .footer-ordering {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 16px;
        margin: 0 auto;
    }

    .footer-first-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin:0 0 72px 0;
        
    }

    .bottom-logo {
        margin: 0;
        align-self: center;
        margin-bottom: 16px;
    }

    .footer-social-media {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 72px;
        margin-right: 0;
        }

    .footer-social-media-line {
            margin-right: 0;
        }


    .footer-subscribe-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .button-subscribe-footer {
        max-width: 165px;
    }
}

@media (min-width: 768px) and (max-width: 1157px) {
    .footer-ordering {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        row-gap: 72px;
        column-gap: 24px;
        width: 584px;
    }

    .footer-first-box {
        margin-right: 0;
    }

    .footer-social-media-line {
        margin-right: 0;
    }
}

/* ======= TEXTS IN SECTIONS ======= */


.section-title{
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center
}

.header-in-section{
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.descriprion-in-section{
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em; 
}

.description-for-team {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.description-in-footer {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

/* button */
.button-fororder{
    font-family: "Roboto", sans-serif;
    color: white;
    background-color: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-fororder:hover,
.button-fororder:focus {
    color: white;
    background-color: #404BBF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

/* backgrounds */

.footer-style {
    background-color:  #2E2F42;
    padding: 100px 0
}

.background-white {
    background-color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* menu pie */

.menu-modal-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.menu-modal-nav-position {
    position: absolute;
    top: 72px;
    left: 16px;
}

.menu-modal-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: flex-start;
    position: relative;
}

.menu-modal-item {
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 40px;
    letter-spacing: 0.72px;
    word-wrap: break-word;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.menu-modal-item > a {
    color: inherit;
}

.menu-modal-item:hover, 
.menu-modal-item:focus, 
.menu-modal-item:active {
    color: #404BBF;
}

.menu-modal-item:first-child {
    color: #404BBF;
}


.menu-modal-contact-socials {
    position: absolute;
    left: 16px;
    bottom: 40px;
    display: flex;
    flex-direction: column;
}

.menu-modal-contact {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.menue-modal-text-for-contact {
    color: #434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    white-space: nowrap;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menue-modal-text-for-contact:hover,
.menue-modal-text-for-contact:focus {
    color: #404BBF;
}

.menu-modal-contact .contact-item:first-child > a {
    color: #404BBF;
}

.menu-modal-team-member-socials {
    display: flex;
    justify-content: center;
    gap: 40px;

}

.team-socails-back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}


/* form modal */

.modal-shadow {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.is-open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.modal-ground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover .modal-close-icon, 
.modal-button:focus .modal-close-icon {
    fill: #ffffff;
}

.modal-explanation {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-form-general {
    display: flex;
    flex-direction: column;
}

.modal-form-first {
    margin-bottom: 8px;
}

.modal-label-style {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-input-and-icon {
    position: relative;
}

.modal-input-style {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-style:focus {
    border-color: #4D5AE5;
}

.modal-input-icon-style {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-style:focus + .modal-input-icon-style {
    fill: #4D5AE5;
}

.modal-comment-block {
    margin-bottom: 16px;
}

.modal-comment-field {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment-field:focus {
    border-color: #4D5AE5;
}

.modal-checkbox-container {
    margin-bottom: 24px;
}

.modal-checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;  
}

.modal-checkbox-label-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

input[type="checkbox"]:checked + label > .modal-checkbox-label-span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.modal-privacy-policy-style {
    color: #4d5ae5;
    text-decoration: underline;
}

.modal-send-button {
    display: block;
    align-self: center;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-button:focus, .modal-send-button:hover {
    background-color: #404BBF;
}

@media (min-width: 320px) and (max-width: 767px) {
    .modal-ground {
        width: 288px;
        top: 8px;
        left: 50%;
        transform: translateX(-50%);
    }

    .modal-button {
        background-color: white;
    }

    .modal-checkbox-label {
        display: flex;
        align-items: center;

    }

}

